.stock-card {
    max-width: 600px;
    margin-left: 20px;
    margin-top: 20px;
}

.myform {
    margin-bottom: 20px;
    .symbols {
        width: 450px;
    }
    button {
        width: 70px;
        margin-left: 20px;
    }
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}