<mat-card class="stock-card">
    <mat-card-header>
        <mat-card-title>Stock Portfolio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #myform="ngForm" (ngSubmit) = "onSubmit(myform)" class="myform">
            <mat-form-field class="symbols">
                <input matInput placeholder="Type symbols separated by comma. eg: SNAP,MSFT" ngModel name="symbols" />
            </mat-form-field>
            <button mat-stroked-button color="primary" type="submit">Submit</button>
        </form>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortStocks($event)">
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time | date: 'MM/dd/yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-stroked-button color="primary" (click)="onRemove(element)">Remove</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>          
        </table>
    </mat-card-content>
</mat-card>